@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

main {
    padding: 1rem;
    margin: auto;
}

form {
    display: inline;
}

.main-header {
    width: 100%;
    height: 3.5rem;
    background-color: #00695c;
    padding: 0 1.5rem;
    display: flex;
    align-items: center;

    position: sticky;
    top: 0;
}

.main-nav {
    width: 100%;
    height: 100%;
    padding: 0 .5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

.main-nav-ul {
    list-style: none;
    margin: 0;
    padding: 0;

    display: flex;
    gap: .5rem;

    flex-wrap: wrap;
}

.main-nav-ul>li {
    margin: 0;
    padding: 0;

    background: #eeeeee3a;
    padding: .2rem .3rem;
    border-radius: .4rem;
}

.nav-list-item {
    border: none;
    color: #eee;
    background: none;
    padding: 0;
    cursor: pointer;
}
.nav-list-item:hover {
    background: none;
}

.main-nav-ul>li>a {
    text-decoration: none;
    color: #eee;

}

.main-nav-ul>li>a:hover,
.main-nav-ul>li>a:active,
.main-nav-ul>li>a.active {
    color: #ffeb3b;
}

.active {}








.mobile-nav {
    width: 30rem;
    height: 100vh;
    max-width: 90%;
    position: fixed;
    left: 0;
    top: 0;
    background: white;
    z-index: 10;
    padding: 2rem 1rem 1rem 2rem;
    transform: translateX(-100%);
    transition: transform 0.3s ease-out;
}

.mobile-nav.open {
    transform: translateX(0);
}

.mobile-nav__item-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.mobile-nav__item {
    margin: 1rem;
    padding: 0;
}

.mobile-nav__item a {
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
    padding: 0.5rem 2rem;
}

.mobile-nav__item a:active,
.mobile-nav__item a:hover,
.mobile-nav__item a.active {
    background: #00695c;
    color: white;
    border-radius: 3px;
}

#side-menu-toggle {
    border: 1px solid white;
    font: inherit;
    padding: 0.5rem;
    display: block;
    background: transparent;
    color: white;
    cursor: pointer;
}

#side-menu-toggle:focus {
    outline: none;
}

#side-menu-toggle:active,
#side-menu-toggle:hover {
    color: #ffeb3b;
    border-color: #ffeb3b;
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    z-index: 5;
    display: none;
}

@media (min-width: 768px) {
    .main-header__nav {
        display: flex;
    }

    #side-menu-toggle {
        display: none;
    }
}








.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: stretch;
    gap: 1rem;
}

.card {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    border-radius: .3rem;
}

.card-header,
.card-content {
    padding: 1rem;
}

.card-header h1,
.card-content h1,
.card-content h2,
.card-content p {
    margin: 0;
}

.card-image {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-image img {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: contain;
}

.card-actions {
    padding: 1rem;
    text-align: center;
}

.card-actions button,
.card-actions a {
    margin: 0 0.25rem;
}

.btn {
    display: inline-block;
    padding: 0.25rem 1rem;
    text-decoration: none;
    font: inherit;
    border: 1px solid #00695c;
    color: #00695c;
    background: white;
    border-radius: 3px;
    cursor: pointer;
}

.btn:hover,
.btn:active {
    background-color: #00695c;
    color: white;
}













.centered {
    text-align: center;
}



.user-message {
    margin: auto;
    width: 90%;
    padding: .75rem;
    border: solid 1px rgb(93, 93, 226);
    border-radius: 4px;
    background: #b9c9ff;
    text-align: center;
}
.user-message-error {
    border-color: crimson;
    background: #f39a9a;
    color: red;  
}

@media (min-width: 768px) {
    .user-message {
        width: 30rem;
    }

}